html, body{
  margin: 0;
  padding: 0;
  background: #000000;
}

.content{
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 1200px;
  padding: 40px 0 40px 0;
}

.back-bg{
  width: 100%;
  height: calc(120vh);
  background: url(../img/bg.png) no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}

h1{
  font-family: Poppins;
  font-size: 60px;
  color: #fff;
}

p{
  font-family: Poppins;
  font-size: 25px;
  line-height: 35px;
  color: #fff;
  font-weight: lighter;
}

.back-bg img{
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
